sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.16666em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.016666em;
}
.ie .stl_06 {
	height: 70.16666em;
}
@font-face {
	font-family:"GLOQDE+MicrosoftYaHei-Bold";
	src:url("02032374-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.32em;
	font-family: "GLOQDE+MicrosoftYaHei-Bold", "Times New Roman";
	color: #FFFFFE;
}
.stl_08 {
	line-height: 1.041992em;
}
.stl_09 {
	letter-spacing: 0.0101em;
}

.ie .stl_09 {
	letter-spacing: 0.2133px;
}
@font-face {
	font-family:"QFPDVB+MicrosoftYaHei";
	src:url("b5fc8aab-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.86em;
	font-family: "QFPDVB+MicrosoftYaHei";
	color: #0066CC;
}
.stl_11 {
	letter-spacing: 0.0174em;
}

.ie .stl_11 {
	letter-spacing: 0.2394px;
}
.stl_12 {
	font-size: 0.86em;
	font-family: "QFPDVB+MicrosoftYaHei";
	color: #000000;
}
@font-face {
	font-family:"QNBIBE+Verdana";
	src:url("1d972e7d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.86em;
	font-family: "QNBIBE+Verdana";
	color: #000000;
}
.stl_14 {
	letter-spacing: 0.01em;
}

.ie .stl_14 {
	letter-spacing: 0.137px;
}
.stl_15 {
	font-size: 0.86em;
	font-family: "QNBIBE+Verdana";
	color: #0000FF;
}
.stl_16 {
	letter-spacing: 0.0116em;
}

.ie .stl_16 {
	letter-spacing: 0.1601px;
}
.stl_17 {
	font-size: 0.86em;
	font-family: "QNBIBE+Verdana";
	color: #0066CC;
}
.stl_18 {
	font-size: 1.32em;
	font-family: "GLOQDE+MicrosoftYaHei-Bold", "Times New Roman";
	color: #FFFFFF;
}
@font-face {
	font-family:"ERAJEU+Calibri";
	src:url("dadeed5a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 1em;
	font-family: "ERAJEU+Calibri", "Times New Roman";
	color: #000000;
}
.stl_20 {
	letter-spacing: 0em;
}

.ie .stl_20 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"IJCBHN+SimSun";
	src:url("4a16e79b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.86em;
	font-family: "IJCBHN+SimSun";
	color: #333333;
}
.stl_22 {
	line-height: 1em;
}
.stl_23 {
	letter-spacing: 0.0186em;
}

.ie .stl_23 {
	letter-spacing: 0.2563px;
}
.stl_24 {
	letter-spacing: 0.0249em;
}

.ie .stl_24 {
	letter-spacing: 0.3433px;
}
.stl_25 {
	letter-spacing: 0.0285em;
}

.ie .stl_25 {
	letter-spacing: 0.3918px;
}
.stl_26 {
	letter-spacing: 0.032em;
}

.ie .stl_26 {
	letter-spacing: 0.4404px;
}
.stl_27 {
	letter-spacing: 0.0124em;
}

.ie .stl_27 {
	letter-spacing: 0.1703px;
}
@font-face {
	font-family:"OIMLOL+Wingdings-Regular";
	src:url("47aa4acb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 1em;
	font-family: "OIMLOL+Wingdings-Regular", "Times New Roman";
	color: #0066CC;
}
.stl_29 {
	transform: scale(1,0.972973);
	-o-transform: scale(1,0.972973);
	-ms-transform: matrix(1,0,0,0.972973,0,-1.2);
	-moz-transform: scale(1,0.972973);
	-webkit-transform: scale(1,0.972973);
}
.stl_30 {
	font-size: 1em;
	font-family: "IJCBHN+SimSun";
	color: #323232;
}
.stl_31 {
	letter-spacing: 0.0059em;
}

.ie .stl_31 {
	letter-spacing: 0.0952px;
}
.stl_32 {
	font-size: 0.86em;
	font-family: "IJCBHN+SimSun";
	color: #323232;
}
.stl_33 {
	letter-spacing: 0.0069em;
}

.ie .stl_33 {
	letter-spacing: 0.0952px;
}
.stl_34 {
	letter-spacing: 0.0217em;
}

.ie .stl_34 {
	letter-spacing: 0.2991px;
}
.stl_35 {
	letter-spacing: 0.0268em;
}

.ie .stl_35 {
	letter-spacing: 0.3685px;
}
.stl_36 {
	letter-spacing: -0.0033em;
}

.ie .stl_36 {
	letter-spacing: -0.052px;
}
.stl_37 {
	letter-spacing: -0.0038em;
}

.ie .stl_37 {
	letter-spacing: -0.052px;
}
.stl_38 {
	letter-spacing: 0.0164em;
}

.ie .stl_38 {
	letter-spacing: 0.2263px;
}
@font-face {
	font-family:"RPNLMU+SimSun";
	src:url("d64d5d45-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.86em;
	font-family: "RPNLMU+SimSun", "Times New Roman";
	color: #323232;
}
.stl_40 {
	font-size: 0.86em;
	font-family: "OIMLOL+Wingdings-Regular", "Times New Roman";
	color: #0066CC;
}
.stl_41 {
	letter-spacing: 0.0253em;
}

.ie .stl_41 {
	letter-spacing: 0.3476px;
}
.stl_42 {
	letter-spacing: 0.0266em;
}

.ie .stl_42 {
	letter-spacing: 0.3654px;
}
.stl_43 {
	letter-spacing: 0.0334em;
}

.ie .stl_43 {
	letter-spacing: 0.4599px;
}
.stl_44 {
	letter-spacing: 0.0148em;
}

.ie .stl_44 {
	letter-spacing: 0.2033px;
}
.stl_45 {
	letter-spacing: 0.0145em;
}

.ie .stl_45 {
	letter-spacing: 0.1998px;
}
.stl_46 {
	letter-spacing: -0.0086em;
}

.ie .stl_46 {
	letter-spacing: -0.1186px;
}
